.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10svh;
    min-height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    z-index: 10;
}

.navbar__logo {
    width: 12svh;
    height: auto;
    cursor: pointer;
    margin-right: auto;
    transition: all 0.2s ease 0s;
}

.navbar__list {
    list-style-type: none;
    transition: all 0.2s ease 0s;
}

.navbar__item {
    display: inline-block;
    padding: 0px 20px;
}

.navbar__item a {
    text-decoration: none;
    color: #153b5c;
    transition: all 0.2s ease 0s;
}

.navbar__item a:hover {
    color: #8eb4c7;
    transition: all 0.2s ease 0s;
}

.navbar button {
    padding: 15px 35px;
    background-color: #8eb4c7;
    border: none;
    border-radius: 50px;
    color: #153b5c;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    margin-left: 20px;
}

.navbar button:hover {
    color: #8eb4c7;
    background-color: #153b5c;
    transition: all 0.2s ease 0s;
}