* {
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
    box-sizing: border-box;
}

body, html, nav {
    background-color: #EDF5F7;
    scroll-behavior: smooth;
}

h1 {
    font-size: 80px;
    line-height: 100px;
    color: #153b5c;
}

h2 {
    font-size: 50px;
    color: #8EB4C7;
}

.home-container {
    min-height: 100svh;
    width: 100%;
    padding-top: 10svh;
    display: flex;
}

.home__picture {
    margin-left: 5%;
    margin-top: 5%;
    width: 30%;
    height: 30%;
}

.home__picture img{
    width: 100%;
    height: auto;
}

/*cutout effect*/
.home__picture:after {
    content: "";
    position: absolute;
    margin: -110px;
    width: 250px;
    height: 200px;
    transform: rotate(45deg);
    background-color: #EDF5F7;
    box-shadow: 0px 10px 10px -10px #000;
}

.home__content {
    width: 60%;
    z-index: 5;
    /*box-shadow: -20px 0px 50px 50px #EDF5F7;*/
}

.home__socials-container {
    position: absolute;
    float: right;
    bottom: 5svh;
    right: 1svw;
    background-color: #8EB4C7;
    border-radius: 20px;
    padding: 0px 5px;
}

.home__socials-container .fa {
    font-size: 36px;
    margin: 5px;
    color: #153b5c;
    transition: all 0.2s ease 0s;
}

.home__socials-container a i:hover {
    cursor: pointer;
    color: #EDF5F7;
    scale: 1.2;
    transition: all 0.2s ease 0s;
}