* {
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
    box-sizing: border-box;
}

body, html, nav {
    background-color: #EDF5F7;
    scroll-behavior: smooth;
}